* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

aside,
nav,
footer,
header,
section {
  display: block;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  line-height: 1;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

body {
  font-family: "Poppins", sans-serif;
  color: #ffffff;
  background-color: #000;
  font-size: 14px;
}
body.lock {
  overflow: hidden;
}

.wrapper {
  background-color: #000;
  width: 100%;
  min-height: 100%;
  overflow: hidden;
}

:focus::-webkit-input-placeholder {
  color: transparent;
}

:focus::-moz-placeholder {
  color: transparent;
}

:focus:-moz-placeholder {
  color: transparent;
}

:focus:-ms-input-placeholder {
  color: transparent;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
  width: 100%;
}
@media (max-width: 1152px) {
  .container {
    max-width: 970px;
  }
}
@media (max-width: 991.98px) {
  .container {
    max-width: 750px;
  }
}
@media (max-width: 767.98px) {
  .container {
    max-width: none;
    padding: 0 10px;
  }
}

.mainblock {
  background-image: url("../img/mainblock_background.webp");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.mainblock .container .header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 47.05px;
  padding-bottom: 886.65px;
}
.mainblock .container .header__navigation {
  width: 100%;
  max-width: 425px;
}
.mainblock .container .header__menu {
  display: flex;
  justify-content: space-between;
}
.mainblock .container .header__menu li a {
  text-align: center;
  font-size: 17px;
  font-weight: 400;
  line-height: 27px;
  color: #ffffff;
  transition: all 0.5s ease 0s;
  border-bottom: 1px solid rgba(255, 0, 0, 0);
}
.mainblock .container .header__menu li a .gradient-text {
  background: radial-gradient(343.88% 97.53% at 50% 50%, #BF8836 0%, #F2DE8A 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.mainblock .container .header__menu li a:hover {
  border-bottom: 1px solid #BF8836;
}
.mainblock__btn {
  display: flex;
  justify-content: center;
  padding-bottom: 41.41px;
}
.mainblock__btn .mainblock-btn {
  display: block;
  max-width: 298px;
  width: 100%;
  padding: 15px 0px;
  border-radius: 24px;
  text-align: center;
  background-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
  font-size: 15px;
  font-weight: 700;
  line-height: 20px;
  text-transform: uppercase;
  transition: all 0.5s ease 0s;
}
.mainblock__btn .mainblock-btn:hover {
  background-color: rgba(0, 0, 0, 0.5);
}

.coffee-shop {
  max-width: 1860px;
  width: 100%;
  margin: 0 auto;
  padding: 0px 20px;
}

.coffee-items {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 40px;
  padding: 48.5px 0px;
}

.coffee-item {
  border-radius: 11.754px;
  overflow: hidden;
  cursor: pointer;
}
.coffee-item__body {
  display: flex;
  flex-direction: column;
  padding: 50.52px 28.35px 29.9px;
  background: rgba(0, 0, 0, 0.65);
  transition: all 0.5s ease 0s;
  transform: translateX(-100%);
}
.coffee-item:hover .coffee-item__body {
  transform: translateX(0%);
}
.coffee-item__title {
  text-align: center;
  font-size: 23.509px;
  font-weight: 700;
  line-height: 26.741px;
  margin-bottom: 11px;
}
.coffee-item__subtitle {
  text-align: center;
  font-size: 16.652px;
  line-height: 26.741px;
  margin-bottom: 20px;
}
.coffee-item__text {
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 26.741px;
  margin-bottom: 38.09px;
}
.coffee-item__text li span {
  font-weight: 700;
}
.coffee-item__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 12px;
  border: 1.243px solid rgb(255, 255, 255);
  padding: 12px 0px;
  margin-bottom: 17.38px;
  text-align: center;
  font-size: 15.672px;
  line-height: 15.672px;
  text-transform: uppercase;
  color: rgb(255, 255, 255);
  background-color: transparent;
  transition: all 0.5s ease 0s;
}
.coffee-item__btn:last-child {
  margin-bottom: 0px;
}
.coffee-item__btn svg {
  padding-left: 7px;
}
.coffee-item__btn:hover {
  background-color: rgba(255, 255, 255, 0.5);
}

.parrot-image {
  background-image: url("../img/coffee_shop/coffee-shop_parrot.webp");
}

.rooster-image {
  background-image: url("../img/coffee_shop/coffee-shop_rooster.webp");
}

.flamingo-image {
  background-image: url("../img/coffee_shop/coffee-shop_flamingo.webp");
}

.parrot-image1 {
  background-image: url("../img/coffee_shop/coffee-shop_parrot1.webp");
}

.rooster-image1 {
  background-image: url("../img/coffee_shop/coffee-shop_rooster1.webp");
}

.flamingo-image1 {
  background-image: url("../img/coffee_shop/coffee-shop_flamingo1.webp");
}

.parrot-image2 {
  background-image: url("../img/coffee_shop/coffee-shop_parrot2.webp");
}

.rooster-image2 {
  background-image: url("../img/coffee_shop/coffee-shop_rooster2.webp");
}

.flamingo-image2 {
  background-image: url("../img/coffee_shop/coffee-shop_flamingo2.webp");
}

.parrot-image,
.rooster-image,
.flamingo-image,
.parrot-image1,
.rooster-image1,
.flamingo-image1,
.parrot-image2,
.rooster-image2,
.flamingo-image2 {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.quality-assurance {
  max-width: 1860px;
  width: 100%;
  margin: 0 auto;
  padding: 0px 20px;
}
.quality-assurance__container {
  padding: 112.5px 0px 347px;
  text-align: center;
  border-radius: 12px;
  background: url("../img/quality-assurance_background.webp") center/cover no-repeat rgba(211, 211, 211, 0.1);
  background-blend-mode: screen;
}
.quality-assurance__title {
  font-size: 34px;
  font-weight: 700;
  line-height: 29px;
  margin: 0px 0px 40px;
  padding: 0px 23px;
}
.quality-assurance__text {
  margin: 0 auto;
  max-width: 1500px;
  font-size: 28px;
  line-height: 29px;
  padding: 0px 23px;
}

.individual-approach {
  max-width: 1860px;
  width: 100%;
  margin: 0 auto;
  padding: 0px 20px;
}
.individual-approach__container {
  padding: 112.72px 143.84px;
  text-align: left;
  border-radius: 12px;
  background: url("../img/individual-approach_background.webp") center/cover no-repeat rgba(211, 211, 211, 0.1);
  background-blend-mode: screen;
}
.individual-approach__content {
  max-width: 922px;
  width: 100%;
}
.individual-approach__title {
  font-size: 34px;
  font-weight: 700;
  line-height: 29px;
  margin: 0px 0px 45.75px 0px;
}
.individual-approach__text {
  font-size: 24px;
  line-height: 29px;
  margin: 0px 0px 45.75px 0px;
}
.individual-approach__btn {
  max-width: 322px;
  width: 100%;
  padding: 20px 0px;
  border-radius: 12px;
  border: 1.269px solid #FFF;
  text-align: center;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  color: rgb(255, 255, 255);
  background-color: transparent;
  transition: all 0.5s ease 0s;
}
.individual-approach__btn:hover {
  background-color: rgba(255, 255, 255, 0.5);
}

.profitable-price {
  max-width: 1860px;
  width: 100%;
  margin: 0 auto;
  padding: 0px 20px;
}
.profitable-price__container {
  padding: 151.07px 88px 130px;
  border-radius: 12px;
  background: url("../img/profitable-price_background.webp") center/cover no-repeat rgba(211, 211, 211, 0.1);
  background-blend-mode: screen;
}
.profitable-price__body {
  display: flex;
  flex-direction: row-reverse;
}
.profitable-price__content {
  max-width: 700px;
  width: 100%;
}
.profitable-price__title {
  font-size: 34px;
  font-weight: 700;
  line-height: 29px;
  margin-bottom: 45px;
}
.profitable-price__text {
  font-size: 28px;
  line-height: 29px;
}

.video__container {
  position: relative;
  max-width: 1143px;
  width: 100%;
  margin: 0 auto;
  padding: 48px 20px;
}
.video__container iframe {
  border-radius: 12px;
}

.contacts {
  max-width: 1860px;
  width: 100%;
  margin: 0 auto;
  padding: 0px 20px;
}
.contacts__container {
  padding: 67.5px 0px 75.3px;
  border-radius: 12px;
  background: rgba(25, 22, 28, 0.8);
  backdrop-filter: blur(5px);
}
.contacts__body {
  padding: 0px 20px;
}
.contacts__title {
  position: relative;
  z-index: 5;
  text-align: center;
  font-size: 34px;
  font-weight: 700;
  line-height: 37px;
  margin-bottom: 41.66px;
}
.contacts__content {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 975px;
  width: 100%;
  margin: 0 auto;
}

.contacts-title__gradient {
  color: rgba(248, 228, 190, 0.8);
}

.contacts-content {
  position: relative;
}
.contacts-content__info {
  flex: 0 1 50%;
  max-width: 400px;
  margin-right: 20px;
}
.contacts-content__form {
  flex: 0 1 50%;
  max-width: 490px;
}
.contacts-content .coffee-left {
  position: absolute;
  top: -175px;
  left: -220px;
}
.contacts-content .coffee-right {
  position: absolute;
  top: 255px;
  right: -120px;
}

.info-title {
  position: relative;
  z-index: 5;
  font-size: 34px;
  font-weight: 700;
  line-height: 42px;
  margin-bottom: 20px;
}

.info-text {
  position: relative;
  z-index: 5;
  font-size: 28px;
  font-weight: 400;
  line-height: 29px;
}

.form {
  position: relative;
  z-index: 5;
  display: flex;
  flex-direction: column;
}
.form input {
  padding: 20px 0px;
  margin-bottom: 31px;
  color: rgb(255, 255, 255);
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  line-height: 16px;
  text-transform: uppercase;
  border-radius: 12px;
  border: 1.269px solid rgba(255, 255, 255, 0.1);
  background: #19161C;
  transition: all 0.5s ease 0s;
}
.form input:focus {
  border: 1.269px solid rgb(255, 255, 255);
}

input.form-submit {
  margin-bottom: 0px;
  color: #FFF;
  text-transform: uppercase;
  border-radius: 12px;
  border: 1.269px solid #FFF;
  cursor: pointer;
  transition: all 0.5s ease 0s;
  background: rgba(68, 61, 75, 0);
}
input.form-submit:hover {
  background: #443d4b;
}

footer .footer-container {
  text-align: center;
  padding: 60.85px 20px 43.45px;
}
footer .footer-container img {
  max-width: 413px;
  width: 100%;
}

@media (max-width: 1152px) {
  .mainblock .container .header {
    padding-bottom: 556.65px;
  }
  .mainblock .container .header__navigation {
    max-width: 325px;
  }
  .coffee-items {
    grid-template-columns: repeat(2, 1fr);
    row-gap: 40px;
  }
  .coffee-items :nth-child(3) {
    grid-column: 1/3;
  }
  .contacts-content .coffee-left {
    top: -175px;
    left: -120px;
    z-index: 0;
  }
  .contacts-content .coffee-right {
    top: 235px;
    right: -60px;
    z-index: 0;
  }
  .individual-approach__container {
    padding: 112.72px 28px;
  }
}
@media (max-width: 991.98px) {
  .info-title {
    font-size: 25px;
    line-height: 30px;
  }
  .info-text {
    font-size: 20px;
    line-height: 25px;
  }
}
@media (max-width: 767.98px) {
  .coffee-items {
    grid-template-columns: repeat(1, 1fr);
    row-gap: 32px;
  }
  .coffee-items :nth-child(3) {
    grid-column: 1/1;
  }
}
@media (max-width: 600px) {
  .mainblock .container .header {
    padding-top: 40px;
    padding-bottom: 380px;
    justify-content: center;
  }
  .mainblock .container .header__navigation {
    display: none;
  }
  .coffee-items {
    padding: 33px 0px;
  }
  .coffee-item__body {
    padding: 33px 18.6px 19.5px;
  }
  .coffee-item__title {
    font-size: 15px;
    line-height: 17.5px;
  }
  .coffee-item__subtitle {
    font-size: 11px;
    line-height: 17.5px;
  }
  .coffee-item__text {
    font-size: 10px;
    line-height: 17.5px;
  }
  .coffee-item__btn {
    font-size: 10px;
    line-height: 10px;
  }
  .quality-assurance__container {
    padding: 50px 0px 314px;
  }
  .quality-assurance__text {
    font-size: 17px;
    line-height: 17px;
  }
  .individual-approach__container {
    padding: 60px 28px;
    text-align: center;
  }
  .individual-approach__title {
    font-size: 28px;
    line-height: 28px;
    margin: 0px 0px 22px 0px;
  }
  .individual-approach__text {
    font-size: 17px;
    line-height: 17px;
    margin: 0px 0px 22px 0px;
  }
  .profitable-price__container {
    padding: 71px 40px;
  }
  .profitable-price__title {
    font-size: 28px;
    font-weight: 700;
    line-height: 28px;
    margin-bottom: 20px;
  }
  .profitable-price__text {
    font-size: 17px;
    line-height: 17px;
  }
  .video__container iframe {
    height: 520px;
  }
  .contacts__container {
    padding: 33px 0px 27px;
  }
  .contacts__body {
    padding: 0px 10px;
  }
  .contacts__title {
    font-size: 28px;
    line-height: 28px;
    margin-bottom: 37px;
  }
  .contacts__content {
    flex-direction: column;
  }
  .contacts-content__info, .contacts-content__form {
    width: 100%;
    padding: 0px 15px;
    margin-right: 0px;
  }
  .contacts-content .coffee-left {
    display: none;
  }
  .contacts-content .coffee-right {
    display: none;
  }
  .info-title {
    font-size: 17px;
    line-height: 17px;
    text-align: center;
  }
  .info-text {
    font-size: 17px;
    line-height: 17px;
    text-align: center;
    margin-bottom: 33px;
  }
  input.form-submit {
    font-size: 15px;
  }
}
@media (max-width: 479.98px) {
  .individual-approach__title {
    font-size: 22px;
  }
}/*# sourceMappingURL=style.css.map */